body{
  background-color: #FFFFFF;
  color: #403F3F;
  font-family: "Verdana", "Segoe UI";
  font-size: 1.6em;
  line-height: 1.5;
  text-align: center;
  display: block;
  margin: 1em 3em;
}

#main{
  margin: 30px, 10px;
  padding: 15px;
  border-radius: 5px;
  background: #CDCDCD;
}

h1{
  font-size: 4rem;
  margin-bottom: 0;
}

p{
  display: block;
  /* margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  margin: 1em 3em;
}

#img-div{
  background: white;
  padding: 20px;
  margin: 1em 3em;
}

#image{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#img-caption{
  margin: 15px 0px 5px 0px;
}

#headline{
  margin: 50px 0px;
  text-align: center;
}

h3{
  display: block;
  font-size: 1.25em;
  font-weight: bold;
}

#about, #work1, #work2, #achievements{
  text-align: justify;
}

#bibliography{
  text-align: center;
}

ol{
  max-width: 1000px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li{
  display: list-item;
  margin: 16px 0px;
}

#link{
  font-size: 1em;
}